/Add.class
/AreaCircle.class
/CheckChar.class
/CheckChar1.class
/CheckMonth.class
/CheckPrime.class
/Compound.class
/CountDigit.class
/DataType.class
/Decision.class
/DecisionMaking.class
/Demo.class
/Demo1.class
/Divisible.class
/Divisibles.class
/Dynamic.class
/Dynamic1.class
/Eligible.class
/EvenOrOdd.class
/FactorOfDigit.class
/FactorOfNumber.class
/Factorial.class
/FactorialDigit.class
/Forloop.class
/Increment.class
/LargestElement.class
/LargestNumber.class
/LocalVariable.class
/LogicalOperator.class
/Loop1.class
/MaxNum.class
/MaxNum1.class
/Methods.class
/Multiple.class
/NeonNumber.class
/Operator.class
/Palindrome.class
/PassOrFail.class
/PositiveOrNegative.class
/Practice.class
/Practice1.class
/Practice3.class
/Practice4.class
/Practice5.class
/PrimePrint.class
/Print.class
/PrintStatement.class
/Prints.class
/ProductOfDigit.class
/ReverseArray.class
/Scope.class
/SecondLargestElement.class
/SimpleCalculator.class
/SpyNumber.class
/Star.class
/StudentGrade.class
/SumOfDigit.class
/SunnyNumber.class
/SwitchCase.class
/ThirdLargestNumber.class
/TriangleType.class
/TwoDigit.class
/TypeCasting.class
/Typecast.class
/loop.class
